body {
  background-color: rgba(0, 0, 0, 0.125);
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  outline-color: #18bc9c;
}

.box.is-dragover .box__input {
  background-color: white;
}

.box.is-uploading .box__input {
  visibility: none;
}

.box.is-uploading .box__uploading {
  display: block;
}

.box .box__input {
  background-color: #ecf0f1;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.box .box__input .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box .box__input .box__file:focus + label > .box__click {
  background-color: #212529c9;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.box .box__input label {
  text-align: center;
}

.box .box__input label .box__click {
  font-size: 1.25em;
  font-weight: 700;
  color: #ecf0f1;
  background-color: black;
  display: inline-block;
  padding: 32px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 245px;
}

.box .box__input label .box__click:hover {
  background-color: #212529c9;
}

.box .box__input label .box__click.is-dragover {
  pointer-events: none;
}

#list-files li {
  margin-bottom: 20px;
}

#list-files li .upper span {
  margin: 0 20px 0 0;
}

#list-files li .upper span.file-name {
  font-size: 20px;
}

#list-files li .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#list-files li .lower .downloadButton {
  display: inline;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  background-color: white;
  color: darkgreen;
  padding: 8px;
}

#list-files li .lower .progress-bar-fill {
  height: 100%;
  width: 0%;
  background: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  max-width: 200px;
}

#list-files li .lower .progress-bar-fill .progress-bar-text {
  margin-left: 10%;
  font-weight: bold;
}

#list-files li .lower .progress-processando {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#list-files li .lower .progress-processando span {
  font-weight: bold;
}

#list-files li .lower .progress-processando div {
  width: 15px;
  height: 15px;
  background-color: lightyellow;
  border-radius: 80%;
  border: 1px solid yellow;
  margin-left: 5px;
}

#list-files li .lower .progress-processando div.done {
  border-color: darkgreen;
  background-color: lightgreen;
}
/*# sourceMappingURL=style.css.map */